<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
            Calificación
            <small>Preguntas</small>
          </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a href="/#/scores/">Calificación</a></li>
        <li> <a href="/#/scores/">Rallies</a></li>
        <li class="active"> Preguntas</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="box box-primary" ng-repeat="rallyCountry in questionsCtrl.countries">
        <div class="box-header with-border">
            <h3 class="box-title">{{rallyCountry.country.name}}</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul class="products-list product-list-in-box">
                <li class="item" ng-repeat="question in rallyCountry.questions" ng-if="question.type === 'question'">
                    <div class="product-info">
                        <a href="#/scores/rally/{{questionsCtrl.rallyId}}/questions/{{question.id}}/answers" class="product-title">{{question.plainText}} <span class="label label-success pull-right">{{question.status}}</span></a>
                    </div>
                </li>
                <!-- /.item -->
            </ul>
        </div>
    </div>
    <!-- Your Page Content Here -->

</section>
<!-- /.content -->